body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff !important;
}

.search{
    margin-bottom: auto;
    margin-top: 0px;
    height: 60px;
    width: 800px;
    background-color: #ffffff;
    padding: 10px;
    outline: 0.8px outset #e50456; /* Add outline here */
    outline-offset: 0px;
}

.search-input{
    color: rgb(255, 255, 255);
    border:0;
    background: none;
    caret-color:transparent;
    line-height: 40px;

}

.search .search-input{
    padding: 0 10px;
    width: 550px;
    caret-color: #e50456;
    font-size: 21px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    transition: width 0.4s linear;
}

.search:hover {
    outline: 1px solid #e50456; /* Add outline here */
}

.search:hover>.search-icon{
    background:#e50456;
    color:#fff;
    transform: scale(0.85); 
}

.search-icon{

    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e50456;
    transition: all 0.3s ease; 

}
a:link{
    text-decoration: none;
}
