<div class="card" style="width: 20rem;">
    <img src="{{cardImage}}" style="width: 100%; height: 250px; object-fit: cover;"
    class="card-img-top" alt="Image Unavailable">
    <div class="card-body">
      <h5 class="card-title">{{cardTitle}}</h5>
      <p class="card-text">{{cardContent}}</p>
      <p class="card-details">
        <span class="card-detail-item">
            <i class="fa-regular fa-calendar-days"></i> {{cardDate}}
        </span>
        <span class="card-detail-item">
            <i class="fa-solid fa-indian-rupee-sign"></i> {{cardPrice}}
        </span>
        <span class="card-detail-item">
            <i class="fa-solid fa-user-group"></i> {{cardSize}}
        </span>
    </p>
    </div>
</div>